<nav class="nav-header">
    <ul class="nav-links">
        <ul class="nav-links">
            <li>
                <a appSoundOnClick routerLink="/" routerLinkActive="active-link" 
                [routerLinkActiveOptions]="{ exact: true }"
                mat-fab color="primary" aria-label="Go to Home Page">
                    <mat-icon>home</mat-icon>
                </a>
            </li>
        </ul>
        <ul class="nav-links">
            <li>
                <a appSoundOnClick class="nav-link" routerLink="/students" routerLinkActive="active-link">Students</a>
            </li>
            <li>
                <a appSoundOnClick class="nav-link" routerLink="/courses" routerLinkActive="active-link">Courses</a>
            </li>
        </ul>
    </ul>
</nav>
