.settings-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    height: calc(76vh - 88px);
    padding-bottom: 0;
    margin-bottom: 0;
}

.settings-grid .setting-types {
    grid-area: 1 / 1 / 1 / 1;
    border-right: 1px solid rgba(0, 0, 0, 0.075);
}

.settings-grid .setting-details {
    grid-area: 1 / 2 / 1 / 3;
}