.table {
    width: 90%;
    margin: auto;
}

.flex-heading-container {
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .px-28 {
        padding-inline: 2rem;
    }

    .flex-heading-container {
        justify-content: center;
    }    
}
