<h2 mat-dialog-title>Are you sure you want to delete?</h2>

<div class="flex justify-around sm:gap-10 mt-5 sm:mt-10">
    <button type="button" mat-raised-button color="primary" class="m-4 sm-m-auto" 
    style="padding: 0.5em; font-size: 1.25em; transition: 200ms ease-in-out; align-self: center;"
    [mat-dialog-close]="false">
        No
    </button>
    <button type="button" mat-raised-button color="primary" class="m-4 sm-m-auto" 
    style="padding: 0.5em; font-size: 1.25em; transition: 200ms ease-in-out; align-self: center;"
    [mat-dialog-close]="true">
        Yes
    </button>
</div>