<div class="h-full" [ngClass]="{'bg-loading': loadingService.loading}">
    <ng-container *ngIf="!isHome">
        <app-header></app-header>
    </ng-container>
    
    <router-outlet></router-outlet>
</div>

<!-- Show spinner whenever one or more HTTP requests are active -->
<div *ngIf="loadingService.loading" class="spinner-overlay">
    <div class="app-spinner">
        <mat-spinner></mat-spinner>
        <p *ngIf="loadingService.showTooltip">Please stay tuned! The Free API needs to spin up.</p>
    </div>
</div>
