<div class="bg-slate-50 min-h-full">
    <div class="flex flex-wrap container-80 flex-heading-container">
        <h2 class="font-bold text-3xl px-10 py-5">{{tableTitle}}</h2>

        <button appSoundOnClick id="addStudentButton" [routerLink]="'add-new'"
            style="padding: 0.5em; font-size: 1.25em; transition: 200ms ease-in-out; align-self: center;"
            mat-raised-button color="primary">Add Student</button>
    </div>

    <div class="overflow-x-auto border-mobile mx-5 my-5">
        <table class="table table-auto border-separate border border-slate-400 mx-5 bg-white">
            <thead>
                <tr>
                    <th [attr.role]="column.sortable ? 'button' : 'presentation'" [tabindex]="column.sortable ? 0 : -1" [attr.aria-label]="column.sortable ? 'Interact to sort the rows by this field' : null" 
                    appClickOnKey appSoundOnClick *ngFor="let column of colDefs"
                    [ngClass]="{'cursor-zoom-in': column.sortable && (column.sorted === 'dsc' || column.sorted === null), 'cursor-zoom-out': column.sortable && column.sorted === 'asc'}" 
                    (click)="sortColumnByField(column.field)" 
                    class="border border-slate-300 p-3 focus:bg-slate-100 hover:bg-slate-100 active:bg-slate-200 outline-none">
                        {{column.title}}
                    </th>
                </tr>
            </thead>
            <ng-container *ngIf="studentData">
                <tbody>
                    <tr [routerLink]="[student.studentNum]" [queryParams]="{mode: 'edit'}" appClickOnKey appSoundOnClick
                        *ngFor="let student of displayedStudents" 
                        class="cursor-pointer focus:bg-slate-100 hover:bg-slate-100 active:bg-slate-200 outline-none" >
                        <td *ngFor="let field of getObjectValues(student)" class="border border-slate-300 p-3 text-center">{{field}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td [attr.colspan]="colDefs.length">
                            <mat-paginator
                                [pageSize]="recordsPerPage"
                                [length]="studentData.length"
                                [pageSizeOptions]="pageSizeOptions"
                                (page)="paginationChanged($event)"
                                [showFirstLastButtons]="true"
                                aria-label="Select page">
                            </mat-paginator>
                        </td>
                    </tr>
                </tfoot>
            </ng-container>
        </table>
    </div>
</div>